.box{
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
.box1{
    color: red;
    padding: 10px;
    margin: 35px;
    border: 2px solid darkgreen;
    height: 200px;
    box-sizing: border-box ;
}
.box2{
    color: yellow;
      padding: 10px;
    margin: 25px;
    border: 2px solid rgb(247, 255, 3);
    height: 200px;
    box-sizing: border-box ;
}